@keyframes backgroundAnimation {
  0% {
    background-color: #daa0a0; }
  5% {
    background-color: #b88b8b; }
  10% {
    background-color: #cdb59c; }
  15% {
    background-color: #d8cb8b; }
  20% {
    background-color: #cae07e; }
  25% {
    background-color: #caeb59; }
  30% {
    background-color: #aff075; }
  35% {
    background-color: #88f075; }
  40% {
    background-color: #75f098; }
  45% {
    background-color: #75f0e4; }
  50% {
    background-color: #75e1f0; }
  55% {
    background-color: #ac75f0; }
  60% {
    background-color: #dd75f0; }
  65% {
    background-color: #f075d2; }
  70% {
    background-color: #f07591; }
  75% {
    background-color: #e38a8a; }
  80% {
    background-color: #ac75f0; }
  85% {
    background-color: #75e1f0; }
  90% {
    background-color: #88f075; }
  95% {
    background-color: #cae07e; }
  100% {
    background-color: #d8cb8b; } }

@keyframes charAnimation {
  0% {
    font-size: 300px;
    opacity: 1; }
  100% {
    font-size: 0px;
    opacity: 0; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: backgroundAnimation 59s ease infinite; }

input {
  opacity: 0.1;
  width: 1px; }

.App {
  text-align: center; }

.chars {
  position: absolute;
  animation: charAnimation 3s ease infinite; }
  .chars:nth-child(even) {
    color: white; }
